# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod


*.out
*.app


*.swp
.clangd
bin/
build/
build_status/
temp_backup/
todo.md
imgui.ini
nohup.out
shared_resources/variants/
compile_commands.json
.clang-format
.cache/
